/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn{
    background-color:rgb(78, 76, 76);
    color:rgb(49, 202, 151);
    border: 3px solid rgb(101, 182, 155);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    box-shadow:  3px 3px black
}

.row{
    display: flex;
    justify-content: space-around;
}
.col {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: wheat;
}
.nav{
    background-color: rgb(78, 76, 76);
    background-size: auto;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    
}
.nav-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 20px;
    color: whitesmoke;
}
.nav-links{

    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-left: 50%;
    text-decoration: none;
    color: whitesmoke;
}

li{
    padding: 10px;
    margin: 10px;
    justify-content:space-evenly;
}

a.active{
    font-weight: bold;
    color: whitesmoke;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
