body{
    padding-left: 200px;
    padding-right: 200px;
    font-weight: bold;
}

.nav{
    background-color: rgb(78, 76, 76);
    background-size: auto;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    
}
.nav-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 150px;
    color: whitesmoke;
    font-size: 50px;
}
.nav-links{
    display: flex;
    align-items:center;
    justify-content:space-around;
    color: whitesmoke;
    list-style-type: none;

}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    font-family: 'Rajdhani', sans-serif;
    width: 900px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn{
    font-family: 'Rajdhani', sans-serif;
    border: 3px solid black;
    background-color: rgb(49, 114, 255);
    color: beige;
    box-shadow:  3px 3px black;
    margin-left: 50%;
    height: 50px;
    width: 90px;
    padding: 0;
    font-weight: bold;
}

.columnLeft{
    font-family: 'Rajdhani', sans-serif;
    height: auto;
    width: 600px;
}

.boxUno{

    display: flex;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}
#word{
    font-size: 50px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
#wordType{
    font-size: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}
#desc{
    font-size: 20px;
    padding: 0;
    margin-top: 0;
}

.btnBox{
    font-family: 'Rajdhani', sans-serif;
    border: 3px solid black;
    background-color: rgb(255, 218, 118);
    box-shadow:  3px 3px black;
    height: 40px;
    width: 130px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.descripcion{
    margin: 10px;   
    padding: 10px;
    padding-top: 8%;
    font-size: 25px;
    display: flex;
    text-align:justify;
    justify-content: center;
    margin-left: 40px;
}

.descripcion span{
    color: rgb(61, 109, 197);
    text-decoration: underline;
}

.boxDos{

    display: flex;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.columnRight{
    font-family: 'Rajdhani', sans-serif;
    height: auto;
    width: 600px;
}


.boxTres{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    justify-content:space-around;
    position: absolute;
    top: 159px;
    right: 207px;
    width: 500px;
    font-size: 30px
;}

.btnDesc{
    font-family: 'Rajdhani', sans-serif;
    border: 3px solid black;
    background-color: rgb(112, 172, 94);
    box-shadow:  3px 3px black;
    height: 40px;
    width: 130px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
